* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Add box-sizing for consistent sizing */
}

html {
scroll-behavior: smooth;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #79bbea;
}

.header, .nav, .section, .project, .footer {
    text-align: center;
    padding: 20px;
}

.header {
    background-color: #333;
    color: #ffffff;
}

.nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: #444;
    padding: 10px 0;
}

.nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin: 0 20px;
}

.about-content, .project, .skills {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
}

.project-image {
    max-width: 25%;
    height: auto;
}

.footer {
    background-color: #444;
    color: #fff;
}

/* Remove redundant styles */
.header h1 a {
    text-decoration: none;
    color: #fff;
}

/* New styles */
.rounded-image {
    border-radius: 50%;
    max-width: 20%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}

.section h2 {
    font-size: 45px;
    margin-bottom: 20px;
}

.intro_body {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

.project_body{
    font-size: 16pt;
    line-height: 1.5;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

.skills {
    text-align: center; /* Center align the images */
}

.skill_logo {
    display: block; /* Display the images as block elements to stack them */
    max-width: 15%; /* Set the maximum width to 100% to make them responsive */
    margin: 0 auto; /* Center the images horizontally within the container */
    margin-bottom: 10px; /* Add some spacing between the stacked images */
}

.connect_with_me {
    max-width: 3%;
    height: auto;
}

.footer_title{
    font-size: 20pt;
}

@media (max-width: 768px) {
    .rounded-image {
        border-radius: 50%;
        max-width: 50%; /* Adjust image width for smaller screens */
        height: auto;
        display: block;
        margin: 0 auto 20px;
    }

    .section h2 {
        font-size: 30px; /* Decrease font size for smaller screens */
        margin-bottom: 20px;
    }

    .intro_body {
        font-size: 18px; /* Decrease font size for smaller screens */
        line-height: 1.5;
        margin-bottom: 20px;
        font-family: 'Montserrat', sans-serif;
    }

    .project_body {
        font-size: 14pt; /* Decrease font size for smaller screens */
        line-height: 1.5;
        margin-bottom: 20px;
        font-family: 'Montserrat', sans-serif;
    }

    .skills {
        text-align: center;
    }

    .skill_logo {
        display: inline-block; /* Display the images inline for smaller screens */
        max-width: 30px; /* Adjust maximum width for smaller screens */
        margin: 0 10px; /* Add spacing between the stacked images */
    }

    .connect_with_me {
        max-width: 20px; /* Adjust maximum width for smaller screens */
        height: auto;
    }

    .footer_title {
        font-size: 16pt; /* Decrease font size for smaller screens */
    }

    .nav {
        font-size: 8px; /* Decrease font size for navigation links */
    }
}

/* Media query for screens smaller than 768px */
@media (max-width: 700px) {
    .nav {
        font-size: 12px; /* Decrease font size for navigation links */
    }
}